@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Noto+Sans:wght@300&family=Tilt+Prism&display=swap');

*{
    margin:0;
    padding:0;
    border:0;
}

body{
    font-family: 'Lato', sans-serif;
    color: #3a3a3a;
}

/* headings and logo */

nav h1, h2{
    
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

#logo{
    font-family: 'Tilt Prism', cursive;
    float: left;
    font-size: 280%;
    margin-left: 10px;
    color: #000281;
    letter-spacing: 2px;
}

#menu{
    font-size: 110%;
    letter-spacing: 4px;
}

#logo, #menu{
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}


#menu a {
    text-decoration: none;
    color: rgba(107, 176, 241, 1);
}

#menu a:hover{
    border-left: 1px solid #000281;
    border-right: 1px solid #000281;
    color: #000281;
}

em {
    color:#000281;
    font-style: normal;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 110%;
}

.active i {
    color:#000281;
}


/* Banner image and cover text */

#banner-outer{
    height:600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#banner-image{
    height: 600px;
    width: 100%;
    background: url(/assets/images/index-banner-background.jpeg) no-repeat center center;
    background-size: 98.7% 600px;
    border-radius: 60px;

}

#cover-text, #cover-text h2 {
    color: #ffffff;
}

#cover-text h2 {
    margin-bottom: 15px;
}

#cover-text {
    font-size: 100%;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding: 30px;
    background-color: rgba(107, 176, 241, 0.7);

    bottom: 30px;
    right: 150px;

    position: absolute;
    border-radius: 10px;

}

/* Description of our services */

#ourservices {
    text-align: center;
}

#ourservices h2 {
   font-size: 2em;
   margin: 20px;
}