*{
    margin:0;
    padding:0;
    border:0;
}

body{
    font-family: 'Franklin Gothic Medium', sans-serif;
    color: #3a3a3a;
}

/* headings and logo */

nav h1, h2{
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo{
    float: left;
    font-size: 280%;
    margin-left: 10px;
}

#menu{
    font-size: 110%;
    letter-spacing: 4px;
}

#logo, #menu{
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    border-bottom: 1px solid #3a3a3a;
}

.active{
    border-bottom: 1px solid #3a3a3a;
}

/* Banner image and cover text */

#banner-outer{
    height:600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#banner-image{
    height: 600px;
    width: 100%;
    background: url(/assets/images/index-banner-background.jpeg) no-repeat center center;
    background-size: 1900px 600px;
    border-radius: 60px;

}

#cover-text, #cover-text h2 {
    color: #ffffff;
}

#cover-text h2 {
    margin-bottom: 15px;
}

#cover-text {
    font-size: 100%;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(107, 176, 241, 0.7);

    bottom: 30px;
    right: 150px;

    position: absolute;
    border-radius: 10px;

}
